<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />

  <title>STT 테스트</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/stylesheet/prototype.css" />
</head>
<body>
  <h1>AI 면접 에이전트 프로토타입 v1</h1>
  <div>
    <button id="fullStartBtn">전체 녹음 시작</button>
    <button id="fullStopBtn" disabled>전체 정지 & 전송</button>

    <button id="partStartBtn">부분 녹음 시작</button>
    <button id="partStopBtn" disabled>부분 정지 & 전송</button>
  </div>

  <audio id="audioPlayer" controls></audio>
  <textarea id="sttResult" placeholder="변환된 텍스트가 여기에 표시됩니다." readonly></textarea>
  <textarea id="llmAnswerResult" placeholder="AI의 응답이 여기에 표시됩니다." readonly></textarea>
  <textarea id="llmSummaryResult" placeholder="AI의 요약이 여기에 표시됩니다." readonly></textarea>
  <textarea id="emailSendResult" placeholder="이메일 전송 결과가 여기에 표시됩니다." readonly></textarea>

  <script src="../static/script/prototype.js"></script>
</body>
</html>