<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <title>STT 테스트</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/stylesheet/prototype.css" />
</head>
<body>
  <h1>AI 면접 에이전트 프로토타입 v1</h1>
  <h3>이름을 입력하세요</h3>
  <textarea id="userName" placeholder="이름을 입력하세요" ></textarea>
  <h3>안건을 입력하세요</h3>
  <textarea id="agenda" placeholder="안건을 입력하세요" ></textarea>
  <button type="submit" onclick="saveAndRedirect()">면접 응시</button>
  <script src="/static/script/meta_info.js"></script>
</body>
</html>